.reviewsContainer {
    padding: 16px;
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: rgb(31, 32, 41);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .reviewsContainer:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .reviewsHeading {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
  }
  
  .reviewsList {
    max-height: 35.45rem;
    overflow-y: auto;
  }
  
  .review {
    margin-bottom: 16px;
    background-color: rgb(31, 32, 41);
    border-bottom: 1px solid rgb(41, 42, 51);
  }
  
  .customerName {
    margin-bottom: 8px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .rating {
    font-size: 2rem;
    color: rgb(250, 220, 40);
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 1rem;
    color: rgb(176, 177, 184);
    margin-bottom:1.5rem;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  