.logo{
  color: rgb(115,150,250);
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}
.logo:hover{
  color: white;
}

.sidebar {
    height: 100%;
    width: 8rem;
    position: fixed;
    top: 0;
    left: -15.625rem;
    background-color: rgb(31, 32, 41);
    transition: left 0.3s ease;
    z-index: 1050;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  @media (min-width: 992px) {
    .sidebar {
      display: none;
    }
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
    height: inherit;
    background-color: rgb(31,32,41);
  }
  
  .searchForm {
    flex: 1;
    justify-content: flex-start;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    border-radius: 0.45rem;
    padding: 0.375rem 0.75rem;
    max-width: 18.75rem;
    width: 100%;
    margin: 4rem 0.5rem 0 0.5rem;
    border: 1px solid rgb(41,43,49);
  }
  
  .searchIcon {
    color: #6c757d;
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.75rem;
  }
  
  .searchContainer .form-control {
    border: none;
    box-shadow: none;
    flex: 1;
    background-color: rgb(31, 32, 41);
    color: #6c757d;
  }

  .form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    outline: none;
  }

  
  .sidebar-links {
    text-align: center;
  }
  
  .nav-link, .nav-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(68,70,74);
    color: white;
    font-size: 1rem;
    margin: 0.5rem;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .nav-link:hover, .nav-item:hover {
    transform: scale(1.2);
    background-color: rgb(115,150,250);
  }
  
  .navbar-toggler {
    z-index: 1061;
    background-color: rgb(176, 177, 184);
  }
  
  .sidebarList {
    margin-top: 1rem;
    
  }
  
  @media (max-width: 767px) {
    .searchForm {
      display: none !important;
    }
  
    .sidebar .searchForm {
      display: flex !important;
      margin-top: 2rem;
    }

    .searchContainer{
      padding: 0;
    }

    .searchIcon{
      height: 0;
      width: 0;
    }
  }
  
  @media (min-width: 767px) {
    .searchContainer {
      margin: 0;
      font-size: 1.625rem;
    }

    .logo{
      font-size: 1.25rem;
    }
  }
  